body {
  font-family: 'Arial', sans-serif;
  background-color: #282c34;
  color: #fff;
  text-align: left;
  padding: 0rem;
  overflow: auto;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  animation: glitch 1s infinite;
}

input, button {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li a {
  display: block;
  font-size: 1.5rem;
  color: #61dafb;
  text-decoration: none;
  padding: 0.5rem;
  border: 2px solid #61dafb;
  border-radius: 5px;
  margin: 0.5rem;
  transition: 0.3s;
  animation: glitch 3s infinite;
}

li a:hover {
  background-color: #61dafb;
  color: #282c34;
}

nav {
  background: #2d3a54;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #61dafb;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

nav a:hover {
  color: #64ffff;
  font-size: 1.75rem;
}
        
.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}

.marquee::after {
  content: attr(data-text);
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(10%); }
  to { transform: translateX(-10%); }
}
        
@keyframes glitch {
  0%, 100% { text-shadow: 2px 2px #ff00ff, -2px -2px #00ffff; }
  25% { text-shadow: -2px -2px #ff00ff, 2px 2px #00ffff; }
  50% { text-shadow: 2px -2px #ff00ff, -2px 2px #00ffff; }
  75% { text-shadow: -2px 2px #ff00ff, 2px -2px #00ffff; }
}
